// Colors
$upvote: #f44336;
$downvote: #2196f3;

// text Size
$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 18px;
$text-xl: 20px;

$text-sizes: (
    'xs': $text-xs,
    'sm': $text-sm,
    'md': $text-md,
    'lg': $text-lg,
    'xl': $text-xl
);
